[Desktop Action new-private-window]
Exec=firefox -P default --private-window %U
Name=New Private Window

[Desktop Action new-window]
Exec=firefox -P default --new-window %U
Name=New Window

[Desktop Action profile-manager-window]
Exec=firefox --ProfileManager
Name=Profile Manager

[Desktop Entry]
Actions=new-private-window;new-window;profile-manager-window
Categories=Network;WebBrowser
Comment[fr_CA]=
Comment=
Exec=firefox -P default --name default %U
GenericName[fr_CA]=Web Browser
GenericName=Web Browser
Icon=firefox
MimeType=text/html;application/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;
Name[fr_CA]=Firefox
Name=Firefox
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=default
Terminal=false
TerminalOptions=
Type=Application
Version=1.4
X-KDE-SubstituteUID=false
X-KDE-Username=
