[Desktop Entry]
Categories=Network;InstantMessaging;Chat;
Comment[fr_CA]=Private messaging from your desktop
Comment=Private messaging from your desktop
Exec=/home/charles/Configuration/Signal.sh
GenericName[fr_CA]=
GenericName=
Icon=signal-desktop
MimeType=
Name[fr_CA]=Signal
Name=Signal
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=Signal
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
